<strong>Olá, {{ student }}!</strong>
<h3>QUE FELICIDADE! SEJA BEM-VINDO(A) A GYMPOINT!</h3>
<p>Agora que você já faz parte da GymPoint, seguem os dados da sua matrícula:</p>
<p style="padding: 10px; background-color: #eee; border-radius: 5px;">
  <strong>Data de início:</strong> {{ start_date }} <br>
  <strong>Data de término:</strong> {{ end_date }} <br>
  <strong>Valor da inscrição:</strong> {{ price }} <br>
  <strong>Plano escolhido:</strong> {{ plan_title }} - {{ plan_duration }} {{ plan_ext }}<br>
  <br><small>A GymPoint fica muito contente com sua inscrição e aguardamos você em uma de nossas academias!</small>
</p>
<center><strong>E AGORA BORA MALHAR!!!</strong></center>
